<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Projeto de IA</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body style="background-color: #f8f9fa;">
        <section class="mb-10">
            <div class="p-5 text-center bg-image"
              style="background-image: url(&quot;https://images.unsplash.com/photo-1583484963886-cfe2bff2945f?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5NjI0M3wwfDF8c2VhcmNofDh8fGJpbmFyeXxlbnwwfHx8fDE2OTgwMjg4NzZ8MA&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080&quot;); height: 500px; background-size: cover; background-position: 50% 50%; background-color: transparent;
              filter: grayscale(100);"
              aria-controls="#picker-editor"></div> 
            <div class="container">
              <div class="card mx-4 mx-md-5 text-center shadow-5-strong" style=" margin-top: -40vh; background: hsla(0, 0%, 100%, 0.7); backdrop-filter: blur(30px); ">
                <div class="card-body px-4 py-5 px-md-5">
                  <h1 class="display-3 fw-light ls-tight mb-4"><span>Trabalho de</span> <br>
                    <span>Inteligência Artificial</span> </h1> 
                    <a class="btn btn-dark btn-lg py-3 px-5 mb-2 mb-md-0 me-md-2 text-light" href="./buscas.html" role="button" aria-controls="#picker-editor" draggable="false">Algoritmos de Busca</a>
                </div>
              </div>
            </div>
        </section>
        <section class="showcase mt-5 fw-bold">
            <div class="container-fluid p-0">
                <div id="scrollspyHeading1" class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/largura.png')"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">

                        <h2 class="fw-bold">Busca em Largura</h2>
                        <p class="lead mb-0">A busca em largura é uma estratégia de busca que explora sistematicamente todos os nós em um nível antes de passar para o próximo nível na árvore de busca. Ela começa na raiz e se expande em todas as direções, expandindo os nós em camadas sucessivas.
                        </p>

                        <h4 class="mt-4 fw-bold">Vantagens:</h4>
                        <p class="fw-light"><i class="bi bi-arrow-right"></i>
                            Garante que a solução encontrada é a mais rasa possível na árvore de busca, o que pode ser útil em problemas onde encontrar a solução mais próxima é importante.
                        </p>

                        <h4 class="mt-4 fw-bold">Desvantagens:</h4>
                        <p class="fw-light"><i class="bi bi-arrow-right"></i>
                            Pode ser ineficiente em termos de tempo e memória se a árvore de busca for muito profunda. Não leva em consideração a qualidade das soluções parciais.
                        </p>

                        <h4 class="mt-4 fw-bold">Uso:</h4>
                        <p class="fw-light"><i class="bi bi-arrow-right"></i>
                            A busca em largura é frequentemente utilizada em problemas de otimização, como encontrar o caminho mais curto em um labirinto.
                        </p>

                    </div>
                </div>
                <div id="scrollspyHeading2" class="row g-0">
                    <hr style="width: 90%;" class="mx-auto">
                    <div class="col-lg-6 text-white showcase-img" style="background-image: url('assets/img/profundidade.png')"></div>
                    <div class="col-lg-6 my-auto showcase-text">

                        <h2 class="fw-bold">Busca em Profundidade</h2>
                        <p class="lead mb-0">A busca em profundidade explora uma ramificação da árvore de busca até o máximo possível antes de retroceder. Isso significa que ela desce ao longo de um ramo até atingir um nó folha antes de retroceder e explorar outros ramos.
                        </p>

                        <h4 class="mt-4 fw-bold">Vantagens:</h4>
                        <p class="fw-light"><i class="bi bi-arrow-right"></i>
                            É eficiente em termos de memória, pois não precisa armazenar tantos nós em memória quanto a busca em largura. Pode ser útil em problemas onde encontrar uma solução é mais importante do que encontrar a solução mais rasa.
                        </p>    

                        <h4 class="mt-4 fw-bold">Desvantagens:</h4>
                        <p class="fw-light"><i class="bi bi-arrow-right"></i> 
                            Pode ficar presa em caminhos infinitos ou caminhos longos em uma árvore de busca. Não garante uma solução ótima se houver custos diferentes para alcançar os nós.
                        </p>

                        <h4 class="mt-4 fw-bold">Uso:</h4>
                        <p class="fw-light"><i class="bi bi-arrow-right"></i>
                            A busca em profundidade é comumente usada em problemas de quebra-cabeça, como o jogo da velha, onde o objetivo é encontrar uma solução, independentemente de quão profunda ela esteja na árvore de busca.
                        </p> 

                    </div>
                </div>
                <div class="row g-0" id="scrollspyHeading3">
                    <hr style="width: 90%;" class="mx-auto">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/gulosa.png')"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">

                        <h2 class="fw-bold">Busca Gulosa</h2>
                        <p class="lead mb-0">A busca gulosa é uma estratégia que seleciona o nó que parece ser mais promissor com base em uma heurística, isto é, uma estimativa da proximidade do nó ao objetivo. Ela não considera o custo total do caminho, apenas o custo local.
                        </p>

                        <h4 class="mt-4 fw-bold">Vantagens:</h4>
                        <p class="fw-light"><i class="bi bi-arrow-right"></i> É eficiente em termos de tempo, já que escolhe rapidamente um caminho que parece levar ao objetivo. Pode ser útil em problemas onde uma solução rápida é mais importante do que uma solução ótima.
                        </p>
                        
                        <h4 class="mt-4 fw-bold">Desvantagens:</h4>
                        <p class="fw-light"><i class="bi bi-arrow-right"></i> 
                            Pode levar a soluções subótimas, pois não considera o custo total do caminho. Pode ficar presa em mínimos locais em problemas de otimização.
                        </p>
                            
                        <h4 class="mt-4 fw-bold">Uso:</h4>
                        <p  class="fw-light"><i class="bi bi-arrow-right"></i> 
                            A busca gulosa é frequentemente utilizada em problemas de roteamento, como encontrar a rota mais curta em um mapa, com base em uma estimativa de distância.
                        </p>

                    </div>
                </div>
            </div>
        </section>
        <section class="testimonials text-center bg-light">
            <hr style="width: 90%;" class="mx-auto mb-5">
            <div class="container" id="scrollspyHeading4">
                <h2 class="mb-5 fw-bold">Conheça o time</h2>
                <div class="row">
                    <div class="col-lg-4">

                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="assets/img/camile.png"/>
                            <h5>Camile Coelho</h5>
                            <p class="font-weight-light mb-0">Desenvolvedor</p>
                            <i class="bi bi-github"></i><a href="https://github.com/CamileCoelho" target="_blank" style="text-decoration: none; color: inherit;"> GitHub</a>
                        </div>

                    </div>
                    <div class="col-lg-4">

                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="assets/img/joao.png"/>
                            <h5>João Pedro Tietbohl</h5>
                            <p class="font-weight-light mb-0">Desenvolvedor</p>
                            <i class="bi bi-github"></i><a href="https://github.com/Joao-Tietbohl" target="_blank" style="text-decoration: none; color: inherit;"> GitHub</a>
                        </div>

                    </div>
                    <div class="col-lg-4">

                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="assets/img/lucas.png"/>
                            <h5>Lucas Bleyer</h5>
                            <p class="font-weight-light mb-0">Desenvolvedor</p>
                            <i class="bi bi-github"></i><a href="https://github.com/LucasBleyer" target="_blank" style="text-decoration: none; color: inherit;"> GitHub</a>
                        </div>

                    </div>
                </div>
                <div class="row mt-5 justify-content-center">
                    <div class="col-lg-4">

                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="assets/img/pedro.png"/>
                            <h5>Pedro Henrique Nunes</h5>
                            <p class="font-weight-light mb-0">Desenvolvedor</p>
                            <i class="bi bi-github"></i><a href="https://github.com/PedrouNunes" target="_blank" style="text-decoration: none; color: inherit;"> GitHub</a>
                        </div>
                        
                    </div>
                    <div class="col-lg-4">

                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="assets/img/tales.png"/>
                            <h5>Tales Reig Cordova</h5>
                            <p class="font-weight-light mb-0">Desenvolvedor</p>
                            <i class="bi bi-github"></i><a href="https://github.com/TalesReig" target="_blank" style="text-decoration: none; color: inherit;"> GitHub</a>
                        </div>

                    </div>
            </div>
        </section>
        <footer class="container-fluid bg-black text-light py-1 fw-bold pt-4">

            <div class="container">
              <div class="row align-items-center justify-content-center pb-2">
                <div class="col-auto bg-black">
                  <a href="https://github.com/CamileCoelho" target="_blank" style="text-decoration: none; color: inherit;">Camile Coelho</a>
                  <i class="bi bi-github"></i>
                </div>
                <div class="col-auto bg-black">
                  <a href="https://github.com/Joao-Tietbohl" target="_blank" style="text-decoration: none; color: inherit;">João Pedro Tietbohl</a>
                  <i class="bi bi-github"></i>
                </div>
                <div class="col-auto bg-black">
                  <a href="https://github.com/LucasBleyer" target="_blank" style="text-decoration: none; color: inherit;">Lucas Bleyer</a>
                  <i class="bi bi-github"></i>
                </div>
                <div class="col-auto bg-black">
                  <a href="https://github.com/PedrouNunes" target="_blank" style="text-decoration: none; color: inherit;">Pedro Henrique Nunes</a>
                  <i class="bi bi-github"></i>
                </div>
                <div class="col-auto bg-black">
                  <a href="https://github.com/TalesReig" target="_blank" style="text-decoration: none; color: inherit;">Tales Reig Cordova</a>
                  <i class="bi bi-github"></i>
                </div>
              </div>

              <hr style="width: 100%;">
                <p class="text-center text-s">© 2023 Copyright | Todos os Direitos Reservados, IFSC Lages</p>
            </div>
        
          </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
